*{
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Raleway', sans-serif;
    padding:  20px;
    background-image: linear-gradient(to top, #a3bded 0%,#6991c7);
    background-color: #99b9f5;
    background-repeat: no-repeat;
    display: flex;
    min-height: 100vh;
}
.main {
    margin: 2opx auto;
    width: 95%;
    max-width: 1200px;
    background-image: linear-gradient(to left, rgba(206, 12, 12, 0.472),rgba(255,255,255,0.365));
    overflow: hidden;
    padding: 2em;
    background-color: #6527f7;
    border-radius: 1em;
   
    
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1em;

    animation: mostrar 1.5s ease-in-out;
}

@keyframes mostrar {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.main__figure {
   overflow: hidden;
   border-radius: 1em;
   background-color: #d798f8;
   display: flex;
   padding: 1em;
   align-items: center;
   justify-content: center;
}
.main__img {
    margin: auto;
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}
.main__contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 2em 0.5em;
    text-align: center;
}
.main__form {
    display: grid;
   justify-items: center;
    gap: 1em;
}
.main__input {
    width: 90%;
    max-width: 400px;
    outline: none;
    border: none;
    padding: 0.8em;
    border-radius: 4em;
    font: inherit;
    
}
.main__input--send {
    background-color: #dc3f31;
    color: #fff;
    font-weight: 800;
    cursor: pointer;
    
}
.main__title {
    font-size: 2.5em;
    font-weight: 800;
  
}
.main__paragraph {
  margin: 0.5em 0;
  font-size: 1em;
}
.main__social {
    display: flex;
    justify-content: center;
    grid-auto-columns: max-content;  ;
    gap: 1em;
    
}
.main__link {
    border: 3px solid #3385f0;
    padding: 0.8em 1.2em;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    transition: background-color 0.3s ease;
    
}
.main__link:hover {
    background-color: #25f3f3;
    
}
.main__icon {
    width: 25px;
    height: 25px;
    
}/* Media Queries */
@media (max-width: 768px) {
    .main {
        padding: 1.5em; /* Reducido aún más el padding en pantallas pequeñas */
        grid-template-columns: 1fr; /* Una sola columna en pantallas pequeñas */
    }

    .main__title {
        font-size: 2em; /* Reducido el tamaño del título en pantallas pequeñas */
    }

    .main__paragraph {
        font-size: 0.9em; /* Reducido el tamaño del párrafo en pantallas pequeñas */
    }
    .main__contact {
        padding: 1em 0.5em;
    }
}
